<!-- Main Category -->

<div>
    <h2 class="px-5"> Laptops </h2>
    <a href="laptops" class=" mx-5 nav-link">See All</a>
    <div style=" 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 5px;" dir="rtl">
        <div class="category">
                <img src="https://b2c-contenthub.com/wp-content/uploads/2022/02/SurfacePro8.png?quality=50&strip=all" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://b2c-contenthub.com/wp-content/uploads/2022/02/SurfacePro8.png?quality=50&strip=all" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://b2c-contenthub.com/wp-content/uploads/2022/02/SurfacePro8.png?quality=50&strip=all" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
         </div>

        <div class="category">
                <img src="https://b2c-contenthub.com/wp-content/uploads/2022/02/SurfacePro8.png?quality=50&strip=all" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://b2c-contenthub.com/wp-content/uploads/2022/02/SurfacePro8.png?quality=50&strip=all" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
                <img src="https://b2c-contenthub.com/wp-content/uploads/2022/02/SurfacePro8.png?quality=50&strip=all" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>
    </div>
</div>

<div class="b-example-divider my-5"></div>


<div>
    <h2 class="px-5"> Smart Phones </h2>
    <a href="phones" class=" mx-5 nav-link">See All</a>
    <div style=" 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 5px;" dir="rtl">
        <div class="category">
                <img src="https://images.samsung.com/levant/smartphones/galaxy-s22-ultra/buy/S22_Ultra_Carousel_GroupKV_MO.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://images.samsung.com/levant/smartphones/galaxy-s22-ultra/buy/S22_Ultra_Carousel_GroupKV_MO.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://images.samsung.com/levant/smartphones/galaxy-s22-ultra/buy/S22_Ultra_Carousel_GroupKV_MO.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
         </div>

        <div class="category">
                <img src="https://images.samsung.com/levant/smartphones/galaxy-s22-ultra/buy/S22_Ultra_Carousel_GroupKV_MO.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://images.samsung.com/levant/smartphones/galaxy-s22-ultra/buy/S22_Ultra_Carousel_GroupKV_MO.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
                <img src="https://images.samsung.com/levant/smartphones/galaxy-s22-ultra/buy/S22_Ultra_Carousel_GroupKV_MO.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>
    </div>
</div>

<div class="b-example-divider my-5"></div>

<div>
    <h2 class="px-5"> Taplets </h2>
    <a href="taplets" class=" mx-5 nav-link">See All</a>
    <div style=" 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 5px;" dir="rtl">
        <div class="category">
                <img src="https://i.pcmag.com/imagery/reviews/06wxaDrk5qTEtRgRXNuat3U-1.fit_lim.size_357x209.v1622719870.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://i.pcmag.com/imagery/reviews/06wxaDrk5qTEtRgRXNuat3U-1.fit_lim.size_357x209.v1622719870.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://i.pcmag.com/imagery/reviews/06wxaDrk5qTEtRgRXNuat3U-1.fit_lim.size_357x209.v1622719870.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
         </div>

        <div class="category">
                <img src="https://i.pcmag.com/imagery/reviews/06wxaDrk5qTEtRgRXNuat3U-1.fit_lim.size_357x209.v1622719870.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://i.pcmag.com/imagery/reviews/06wxaDrk5qTEtRgRXNuat3U-1.fit_lim.size_357x209.v1622719870.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
                <img src="https://i.pcmag.com/imagery/reviews/06wxaDrk5qTEtRgRXNuat3U-1.fit_lim.size_357x209.v1622719870.jpg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>
    </div>
</div>

<div class="b-example-divider my-5"></div>


<div>
    <h2 class="px-5"> Others </h2>
    <a href="others" class=" mx-5 nav-link">See All</a>
    <div style=" 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 5px;" dir="rtl">
        <div class="category">
                <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
         </div>

        <div class="category">
                <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
            <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
            <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>

        <div class="category">
                <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
        </div>
    </div>
</div>

<div class="b-example-divider my-5"></div>







