<!DOCTYPE html>
<html lang="en">
<%- include("head.ejs") %>
<body>

    <%- include("header.ejs") %>

    <%- include("banner.ejs") %>
    <section  class=" py-5 container">
  
        <div class="row" dir="rtl">
          <a href="Jobs.html">
              <svg class="col bg-dark" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right" viewBox="0 0 16 16" style=" margin-top:-10px;">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </a>
            
              <div class="col-4 card mx-2 " style="width: 18rem; background-color: #f2f2f2;">
                  <img class="card-img-top img-thumbnail my-4 shadow-sm" src="https://images.samsung.com/levant/smartphones/galaxy-s22-ultra/buy/S22_Ultra_Carousel_GroupKV_MO.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>

                  </div>
              </div>
  
              <div class="col-6 row py-lg-2 mx-3" style="background-color: #f2f2f2">
                  <div class="col-lg-6 col-md-8 my-2 px-2 py-2" style=" width: 100vw;">
                      <div class="row my-4">
                          <h1 class=" fw-light text-center my"> <b> New </b>
                              <p class="lead py-2 text-muted"> * Enjoy a smooth and immersive experience on OPPO's 6.52" waterdrop display * Powered by the Android 11 operating system * Locked to the Optus network‏
                            </p>
                          </h1>  
                        </div>
                    
                    
                  </div>
              </div>
          </div>
  
      </section>

<%- include("footer.ejs") %>

<script src="js/bootstrap.bundle.min.js"></script>
    
</body>
</html>