<header class="px-0 site-header sticky-top">
    <div class="py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <h1> Market </h1>
        </a>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input id="cate" type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="home" class="nav-link text-secondary">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
              Home
            </a>
          </li>
          <li>
            <a href="categories" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
              Products
            </a>
          </li>
          <li>
            <a href="laptops" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
              Laptops
            </a>
          </li>
          <li>
            <a href="phones" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
              Smart Phones
            </a>
          </li>
          <li>
            <a href="others" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
              Others
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
