<!DOCTYPE html>
<html lang="en">
<%- include("head.ejs") %>
<body>

    <%- include("header.ejs") %>

    <%- include("banner.ejs") %>
<main>

    <div>
        <h2 class="px-5"> Others </h2>
        <div style=" 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 5px;
        margin-right: 5px;" dir="rtl">
            <div class="category">
                    <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                    <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
            </div>
    
            <div class="category">
                <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
            </div>
    
            <div class="category">
                <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
             </div>
    
            <div class="category">
                    <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                    <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
            </div>
    
            <div class="category">
                <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
            </div>
    
            <div class="category">
                    <img src="https://glimageurl.golocall.com/golocal-post/image/454839_samsungservicecenter1507975776.jpeg" class="img-thumbnail" style="width: 150px; height: 150px;" />
                    <p class="fs-8 text-dark"> Microsoft Surface Pro 8 <b>$859.99 </b> </p>
            </div>
        </div>
    </div>
    
    <div class="b-example-divider my-5"></div>
    
    
</main>

<%- include("footer.ejs") %>

<script src="js/bootstrap.bundle.min.js"></script>
    
</body>
</html>